<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <title>Admin Tools</title>
</head>

<body>
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 2%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                {% if user.is_admin %}
                <li class="nav-item">
                    <a href="/admin-tools" class="nav-link">Admin Tools</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="/chat-page" class="nav-link">Chat Room</a>
                </li>
                <li class="nav-item">
                    <a href="/knowledge-hub" class="nav-link">Knowledge Hub</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a href="/signup" class="dropdown-item">Sign Up</a>
                        </li>
                        <li>
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-text" style="padding-right: 3%;">{{ user.username + "\'s" }} Portal</div>
    </nav>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br>
    <ul class=flashes>
        {% for message in messages %}
        <ul>{{ message }}</ul>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if user.is_admin is false %}
    <h1 align="center"><strong>You are not authorised to access administrative tools.</strong></h1>
    <h1 align="center"><strong>Leave or you will be reported.</strong></h1>
    {% else %}
    <h1 align="center"><strong>Welcome to admin tools.</strong></h1>
    <br>
    <div align="center">
        <h3>Table of Users</h3>
        <table id="users_table" class="table table-striped" style="width: 80%;">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Admin Access</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <form method="POST">
                        <td id="uid" name="uid">{{u.id}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.is_admin}}</td>
                        <td><button class="btn btn-danger" type="submit">Delete</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div align="center">
        <h3>Table of Shared Resources</h3>
        <table id="resources_table" class="table table-striped" style="width: 80%;">
            <thead>
                <tr>
                    <th scope="col">Resource ID</th>
                    <th scope="col">Filename</th>
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Resource Title</th>
                    <th scope="col">Uploaded At</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for r in resources %}
                <tr>
                    <form method="POST">
                        <td id="rid" name="rid">{{r.id}}</td>
                        <td>{{r.filename}}</td>
                        <td>{{r.op}}</td>
                        <td>{{r.title}}</td>
                        <td>{{r.timestamp}}</td>
                        <td><button class="btn btn-danger" type="submit">Delete</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
</html>