<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <title>{{ user.username + "\'s" }} Home</title>
</head>

<body>
<h3>Logged in as: {{user.username}}</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <ul>{{ message }}</ul>
    {% endfor %}
</ul>
{% endif %}
{% endwith %} 

<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
<textarea id="chatbox" cols="80" rows="20" readonly></textarea><br><br>
<input id="text" size="80" placeholder="Enter your message here"><br><br>
<script type="text/javascript" charset="utf-8">

    const myPassword = "{{keyid}}";
    const encryption = true;

    var socket;
    $(document).ready(function () {
        socket = io.connect('/home');
        socket.on('message_received', function (data) {
            // alert("DATA PAYLOAD: " + data);
            text = data;
            if (encryption) {
                var decrypted = CryptoJS.AES.decrypt(text, myPassword);
                text = decrypted.toString(CryptoJS.enc.Utf8);
                // alert('decrypted:' + text);
            }
            $('#chatbox').val($('#chatbox').val() + text + '\n');
            $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
        });
        $('#text').keypress(function (e) {
            var code = e.keyCode || e.which;
            //alert(e.keyCode);
            if (code == 13) {
                msg = $('#text').val();
                text = "{{user.username}}: " + msg;
                // alert("TEXT: " + text);
                if (encryption) {
                    text = CryptoJS.AES.encrypt(text, myPassword).toString();
                    // alert('encrypted:' + text);
                }

                $('#text').val('');
                socket.emit('message_sent', text);
            }
        });
    });
</script>

</body>
</html>