{% extends home.html %}
{% block title %}Sign Up{% endblock %}

<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <ul>{{ message }}</ul>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form class="pure-form pure-form-stacked signup" method="POST">
    <h2 align="center">Sign Up</h2>
    <div align="center">

    <ul><label for="uname">Enter username</label><input type="text" id="uname" name="uname" placeholder="Username" required></ul>
    <ul><label for="pwd">Enter password</label><input type="password" id="pwd" name="pwd" placeholder="Password" required></ul>
    <ul><label for="cpwd">Confirm password</label><input type="password" id="cpwd" name="cpwd" placeholder="Confirm Password" required></ul>
    <ul><input class="pure-button pure-button-primary" type="submit"></ul>
    </div>
</form>
</body>
</html>